<% include partials/header %>
  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Welcome to GolfHub</h1>
        <p>View our hand-picked golf courses from all over the world!</p>
        <p><a class="btn btn-primary btn-lrg" href="/courses/new">Add New Course</a></p>
      </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
      <% courses.forEach(function(course){ %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= course.image %>">
            <div class="caption">
              <h4><%= course.name %></h4>
                <a href="<%= course.url %>">Website</a>
            </div>
          </div>
          </div>
        <% }); %>
    </div>

        <a href="/">Home</a>
  </div>
  <% include partials/footer %>
