<% include partials/header %>
<h1>Create a new GolfHub course!</h1>

<form action="/courses" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="image url">
  <input type="text" name="url" placeholder="website url">
  <button>Submit New Course</button>
</form>

<a href="/courses">Go Back To All Courses</a>
<% include partials/footer %>
